<h3>{{proyect.titulo}}</h3>
<hr>

<div class="row">

    <div class="col-md-2">
        <div class="col-md-10">
            <img [src]="proyect.imgLenguaje" class="img-fluid" [alt]="proyect.titulo">
            <br><br>
            <a [routerLink]="['/projects']" class="btn btn-success btn-block">Regresar</a>
        </div>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
                <h3 class="">
                    {{proyect.lenguaje}}
                </h3>
            </div>
            <div class="col-md-4 justify-content-end">
                <a [href]="proyect.git" target="_blank" class="justify-content-end" *ngIf=" proyect.git ">
                    <img src="../../../assets/img/github.png " class="h-50 img-fluid ">
                </a>

            </div>
        </div>
        <hr>
        <div>
            <video [src]="proyect.video " class="col-md-9 " autoplay controls></video>
        </div>
    </div>
</div>