<div class="container">

    <div class="row">
        <h3>Lo que busco</h3>
        <hr>
        <div class="col-md-2">
            <img src="../../../assets/img/lupa-sola.png" class=" float-right w-50 p-50" alt="">
        </div>
        <div class="col-md-8">
            <h6>{{otros.quiero}}</h6>
        </div>
    </div>
    <br><br>

    <div class="row">
        <h3>Lo que ofrezco</h3>
        <hr>
        <div class="col-md-2">
            <img src="../../../assets/img/cohete.png" class=" float-right w-50 p-50" alt="">
        </div>
        <div class="col-md-8">
            <h6>{{otros.ofrezco}}</h6>
        </div>
    </div>
    <br><br>

    <div class="row">
        <h3>Mi proceso</h3>
        <hr>
        <div class="position-relative m-4">
            <div class="progress" style="height: 1px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button dropdown" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
            <br>
        </div>
        <div class="position-relative m-4">
            <img src="../../../assets/img/planta.png" class=" column position-absolute top-0 start-0 translate-middle col-md-1" alt="">
            <img src="../../../assets/img/planta-m.png" class=" position-absolute top-0 start-50 translate-middle col-md-1" alt="">
            <img src="../../../assets/img/arbol.png" class=" position-absolute top-0 start-100 translate-middle col-md-1" alt="">
        </div>
    </div>


</div>